<h1><%= @bookmark.name %></h1>
<hr>

<h3><%= @bookmark.name %></h3>
<h3><%= @bookmark.url %></h3>
<p><%= link_to 'edit', edit_bookmark_path(@bookmark) %></p>
<p><%= link_to 'delete', bookmark_path(@bookmark), method: :delete, data: {confirm: 'Really?'} %></p>