<h1><%= @topic.name %><small> [<%= link_to 'new bookmark', new_topic_bookmark_path(@topic) %>] or [<%= link_to 'delete', topic_path(@topic), method: :delete, data: {confirm: 'Really?'} %>] the topic</small></h1>
<hr>

<div class="row">
  <%= render @bookmarks %>
</div>
<br/>

<div class="row">
  <h3>Create Bookmark</h3>
  <%= render partial: 'bookmarks/form', locals: {topic: @topic, bookmark: @bookmark} %>
</div>

<%#= will_paginate @bookmarks, renderer: BootstrapPagination::Rails %>